<section class="bouldering__section">
   <div class="bouldering__container">
    <div>
        <h1 class="bouldering__title">bouldering</h1>
     <div class="bouldering__box">
        <img class="bouldering__img" src="./images/bol1.jpeg" >
        <img class="bouldering__img" src="./images/bol2.jpeg" >
        <img class="bouldering__img" src="./images/bol3.jpeg" >
    </div>
        <p class="bouldering__descr">Bouldering is rock climbing stripped down to its raw essentials. Leaving behind ropes and harnesses and just using climbing shoes and a bag of chalk over safety mats, your challenge is to climb short but tricky bouldering "problems" (a route, or sequence of moves) using balance, technique, strength, and your brain.

            You don't need experience or lots of expensive kit to have a go - making it really easy to get into if you've never tried it before.
            
            The climbs are high enough to be exciting, but not so high that they're hugely intimidating. Using safety mats means that the risks of falling off can be managed, and leaving the ropes behind means that you are free to concentrate on the climbing, not the equipment. It's just you, the wall, and your friends on the ground egging you on.
            </p>
    </div>
  
   </div>
</section>