<header class="header__section gradient">
    <div class="header__container">
        <a class="header-logo">
            <svg class="header__svg" width="70" height="70">
                <use class="header__svgqw" href="./images/symbol-defs.svg#icon-logos"></use>
            </svg >
        </a>
        <input class="menu" type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
      <li><a href="#bouldering">bouldering</a></li>
      <li><a href="#rock-climbing">rock climbing</a></li>
      <li><a href="#halls">halls</a></li>
      <li><a href="#plases">plases</a></li>
    </ul>
  </div>
        <nav class="site-nav">
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#bouldering">bouldering</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#rock-climbing">rock climbing</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#halls">halls</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#">plases</a>
                </li>
            </ul>
        </nav>
    </div>
</header>