<header class="header__section">
    <div class="header__container">
        <a class="header-logo">
            <svg class="header__svg" width="70" height="70">
                <use class="header__svgqw" href="./images/symbol-defs.svg#icon-logos"></use>
            </svg >
        </a>
        <nav class="site-nav">
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#bouldering">bouldering</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#rock-climbing">rock climbing</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#halls">halls</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#">plases</a>
                </li>
            </ul>
        </nav>
    </div>
</header>