<section class="places__section">
  <div class="places__container">
   
    <h1 class="places__title" id="places">Places for rock climbing</h1>
  
    <div class="card">
      <input type="radio" name="select" id="slide_1" checked>
      <input type="radio" name="select" id="slide_2">
      <input type="radio" name="select" id="slide_3">

      <input type="radio" name="select" id="slide_4">
      <input type="checkbox" id="slideImg">
    
     
    
      <div class="inner_part">
        <label for="slideImg" class="img">
          <img class="img_1" src="./images/korostishew.jpeg">
        </label>
        <div class="content content_1">
          <div class="title">Korostyshiv</div>
          <div class="text">
            Real pearls are hidden in cozy pine forests: deep lakes with clean and cool water and rocks that are very popular with rock climbers all over Ukraine.         </div>
          <button><a href="https://goo.gl/maps/fp5A5srqTAYkp1QE6"
            target="_blank"
            rel="noopener noreferrer"
            >Location</a
          ></button>
        </div>
      </div>
    
      <div class="inner_part">
        <label for="slideImg" class="img">
          <img class="img_2" src="./images/skeliDowdusha.jpeg">
        </label>
        <div class="content content_2">
          <div class="title">Skeli Dovbusha</div>
          <div class="text">
            The rocks of Dovbush are a very beautiful rock-cave complex and a unique monument of history and nature. It is located approximately 3 kilometers from the village of Bubnyshcha, Ivano-Frankivsk region. The rocks lie in the Bubnyshche tract, on the territory of the Polyanytsky Regional Park, created in 1996.
          </div>
          <button><a href="https://goo.gl/maps/k9Sj4NaX93Bnt8HHA"
            target="_blank"
            rel="noopener noreferrer"
            >Location</a
          ></button>
        </div>
      </div>
    
      <div class="inner_part">
        <label for="slideImg" class="img">
          <img class="img_3" src="./images/butskyi.jpeg">
        </label>
        <div class="content content_3">
          <div class="title">Bukskyy kanyon</div>
          <div class="text">Beech Canyon is, although small, an original rocky shore with ledges of gray granite. The height of the rocks is about thirty meters, and the canyon itself is 2.5 kilometers long.

          </div>
          <button><a href="https://goo.gl/maps/NuJ6Y5ZMhqV2P4P57"
            target="_blank"
            rel="noopener noreferrer"
            >Location</a
          ></button>
        </div>
      </div>

      <div class="inner_part">
        <label for="slideImg" class="img">
          <img class="img_4" src="./images/Denishi3.jpeg">
        </label>
        <div class="content content_4">
          <div class="title">Denishi</div>
          <div class="text">Few people know about the existence of the village of Denishi. But in the warm season, it becomes a mecca for rock climbers. The village is located west of Zhytomyr along the Kyiv-Chudniv highway. About a thousand people live in the village. I must say, this settlement is located in a very picturesque place.

          </div>
          <button><a href="https://goo.gl/maps/rkcx4anBMVXqGPiG7"
            target="_blank"
            rel="noopener noreferrer"
            >Location</a
          ></button>
        </div>
      </div>
     
    </div>
    <div class="slider">
      <label for="slide_1" class="slide slide_1"></label>
      <label for="slide_2" class="slide slide_2"></label>
      <label for="slide_3" class="slide slide_3"></label>

      <label for="slide_4" class="slide slide_4"></label>
    </div>
  

   </div>
</section>
