<section class="space__section">
   <div class="space__container">
    <h1 class="space__title" id="halls">Gyms in Ukraine</h1>
       <div class="spase__places">
      <ul class="spce__holes">
        <li class="spase__holes-list">
          <div class="space__img-wraper">
            <img class="spce__img" src="./images/space.png" />
            <h2 class="spase__name">CLIMBING SPACE</h2>
          <div class="space__location-wraper">
            <a
            class="spase__location"
            href="https://goo.gl/maps/CacgsPtiY7PnyAPC6"
            target="_blank"
            rel="noopener noreferrer"
            >Київ. Проспект Степана Бандери 8</a
          >
          </div>
          </div>
        </li>

        <li class="spase__holes-list">
          <div class="space__img-wraper">
            <img class="spce__img" src="./images/BOLDER SPACE.jpeg" />
            <h2 class="spase__name">BOULDER SPACE</h2>
          <div class="space__location-wraper">
            <a
            class="spase__location"
            href="https://goo.gl/maps/U2whYXqM3DskTMyLA"
            target="_blank"
            rel="noopener noreferrer"
            >Київ. вул. Кіото 25</a
          >
          </div>
          </div>
        </li>

        <li class="spase__holes-list">
          <div class="space__img-wraper">
            <img class="spce__img" src="./images/funattic.png" />
            <h2 class="spase__name">FUNATTIC</h2>
         <div class="space__location-wraper">
            <a
            class="spase__location"
            href="https://goo.gl/maps/qGK6DhSVihknVXaV7"
            target="_blank"
            rel="noopener noreferrer"
            >Київ. вул. Борщагівська 154</a
          >
         </div>
          </div>
        </li>

        <li class="spase__holes-list">
          <div class="space__img-wraper">
            <img class="spce__img" src="./images/HYPERION.png" />
            <h2 class="spase__name">HYPERION CLIMBING</h2>
          <div class="space__location-wraper">
            <a
            class="spase__location"
            href="https://goo.gl/maps/oycxxQTLTG1S49Jr9"
            target="_blank"
            rel="noopener noreferrer"
            >Київ. вул. Костянтинівська, 73</a
          >
          </div>
          </div>
        </li>
        <li class="spase__holes-list">
            <div class="space__img-wraper">
              <img class="spce__img" src="./images/rocklviv.png" />
              <h2 class="spase__name">Rock Station</h2>
              <div class="space__location-wraper">
                <a
                class="spase__location"
                href="https://goo.gl/maps/hNe6p4ZvL3VXQRAVA"
                target="_blank"
                rel="noopener noreferrer"
                >Львів. вул. Івана Пулюя 16</a
              >
              </div>
            </div>
          </li>
          <li class="spase__holes-list">
            <div class="space__img-wraper">
              <img class="spce__img" src="./images/thewalllviv.png" />
              <h2 class="spase__name">The Wall</h2>
             <div class="space__location-wraper">
                <a
                class="spase__location"
                href="https://goo.gl/maps/RqKBNMowSYm9Rd8B9"
                target="_blank"
                rel="noopener noreferrer"
                >Львів. вул. Героїв УПА 72</a
              >
             </div>
            </div>
          </li>
          <li class="spase__holes-list">
            <div class="space__img-wraper">
              <img class="spce__img" src="./images/ifivanjfr.jpeg" />
              <h2 class="spase__name">IF</h2>
              <div class="space__location-wraper">
                <a
                class="spase__location"
                href="https://goo.gl/maps/8oJtjz4d1VdQsS2GA"
                target="_blank"
                rel="noopener noreferrer"
                >Івано-Франківськ. Гетьмана Мазепи 142а</a
              >
              </div>
            </div>
          </li>
          <li class="spase__holes-list">
            <div class="space__img-wraper">
              <img class="spce__img" src="./images/ostrivkiev.png" />
              <h2 class="spase__name">Острів</h2>
              <div class="space__location-wraper">
                <a
                class="spase__location"
                href="https://goo.gl/maps/BeBS4iDutuUisawY7"
                target="_blank"
                rel="noopener noreferrer"
                >Київ. вул.Паркова</a
              >
              </div>
            </div>
          </li>
          <li class="spase__holes-list">
            <div class="space__img-wraper">
              <img class="spce__img" src="./images/osessasell.jpeg" />
              <h2 class="spase__name">Shelrocks</h2>
              <div class="space__location-wraper">
                <a
                class="spase__location"
                href="https://goo.gl/maps/7gBk97yuuewdphbR6"
                target="_blank"
                rel="noopener noreferrer"
                >Одеса. вул. Генерала Цвєтаєва 3/5</a
              >
              </div>
            </div>
          </li>
          <li class="spase__holes-list">
            <div class="space__img-wraper">
              <img class="spce__img" src="./images/alklubodesa.jpeg" />
              <h2 class="spase__name">Альпклуб "Одеса"</h2>
            <div class="space__location-wraper">
                <a
                class="spase__location"
                href="https://goo.gl/maps/Ny1rVRF1gguEV3x46"
                target="_blank"
                rel="noopener noreferrer"
                >Одеса. провулок Онілової 9</a
              >
            </div>
            </div>
          </li>
        </li>
        <li class="spase__holes-list">
          <div class="space__img-wraper">
            <img class="spce__img" src="./images/leskala.jpeg" />
            <h2 class="spase__name">La Scala</h2>
           <div class="space__location-wraper">
            <a
            class="spase__location"
            href="https://goo.gl/maps/bDaqfBEp8BxV6kAE7"
            target="_blank"
            rel="noopener noreferrer"
            >Дніпро.вул. Барикадна 5/7</a
          >
           </div>
          </div>
        </li>
    </li>
    <li class="spase__holes-list">
      <div class="space__img-wraper">
        <img class="spce__img" src="./images/skaladnepr.jpeg" />
        <h2 class="spase__name">Scala</h2>
    <div class="space__location-wraper">  
          <a
        class="spase__location"
        href="https://goo.gl/maps/snVwMKwUAbGr7nDv7"
        target="_blank"
        rel="noopener noreferrer"
        >Дніпро.вул. вул. Нижньодніпровська 17</a
      ></div>
      </div>
    </li>
      </ul>

    </div>
    
    
  </div>
</section>
