<section class="space__section">
    <h1>Halls in Ukraine</h1>
  <div class="space__container">
    <ul class="test">
      <li>
        <ul>
            <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/space.png" />
                  <h2>CLIMBING SPACE</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/CacgsPtiY7PnyAPC6"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Київ, метро Почайна проспект Степана Бандери 8</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/BOLDER SPACE.jpeg" />
                  <h2>BOULDER SPACE</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/U2whYXqM3DskTMyLA"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Київ, вулиця Кіото 25</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/funattic.png" />
                  <h2>FUNATTIC</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/qGK6DhSVihknVXaV7"
                    target="_blank"
                    rel="noopener noreferrer"
                    >вул. Борщагівська 154 ТРЦ Мармелад</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/HYPERION.png" />
                  <h2>HYPERION CLIMBING</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/oycxxQTLTG1S49Jr9"
                    target="_blank"
                    rel="noopener noreferrer"
                    >вул. Костянтинівська, 73</a
                  >
                </div>
              </li>
        </ul>
      </li>
      <li>
        <ul>
            <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/space.png" />
                  <h2>CLIMBING SPACE</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/CacgsPtiY7PnyAPC6"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Київ, метро Почайна проспект Степана Бандери 8</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/BOLDER SPACE.jpeg" />
                  <h2>BOULDER SPACE</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/U2whYXqM3DskTMyLA"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Київ, вулиця Кіото 25</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/funattic.png" />
                  <h2>FUNATTIC</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/qGK6DhSVihknVXaV7"
                    target="_blank"
                    rel="noopener noreferrer"
                    >вул. Борщагівська 154 ТРЦ Мармелад</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/HYPERION.png" />
                  <h2>HYPERION CLIMBING</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/oycxxQTLTG1S49Jr9"
                    target="_blank"
                    rel="noopener noreferrer"
                    >вул. Костянтинівська, 73</a
                  >
                </div>
              </li>
        </ul>
      </li>
      <li>
        <ul>
            <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/space.png" />
                  <h2>CLIMBING SPACE</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/CacgsPtiY7PnyAPC6"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Київ, метро Почайна проспект Степана Бандери 8</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/BOLDER SPACE.jpeg" />
                  <h2>BOULDER SPACE</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/U2whYXqM3DskTMyLA"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Київ, вулиця Кіото 25</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/funattic.png" />
                  <h2>FUNATTIC</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/qGK6DhSVihknVXaV7"
                    target="_blank"
                    rel="noopener noreferrer"
                    >вул. Борщагівська 154 ТРЦ Мармелад</a
                  >
                </div>
              </li>
              <li class="spase__holes-list">
                <div class="space__img-wraper">
                  <img class="spce__img" src="./images/HYPERION.png" />
                  <h2>HYPERION CLIMBING</h2>
                  <a
                    class="location"
                    href="https://goo.gl/maps/oycxxQTLTG1S49Jr9"
                    target="_blank"
                    rel="noopener noreferrer"
                    >вул. Костянтинівська, 73</a
                  >
                </div>
              </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
