.bouldering__section{
   
    background-color: $background-color-section;
    min-height: 500px;
    padding-top: 16px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/boulderingbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding-top: 16px;
    }
    @media screen and (min-width: 1366px) {
        min-height: 878px;
        padding-top: 50px;
            // background-image:url(../images/bgimg.jpeg);
            // background-repeat: no-repeat;
            // background-size: cover;
    }
}

.bouldering__container{
   
    @extend %container;

    @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
       
        
    }
    @media screen and (min-width: 1366px) {
        position: sticky;
    top: -1px;
       
    }
}
.bouldering__title{
    letter-spacing: .18em;
    text-transform: uppercase;
    color: #ff0;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
       
        display: flex;
        padding-top: 10px;
    padding-bottom: 10px;
        
    }
    @media screen and (min-width: 1366px) {
        letter-spacing: .18em;
        text-transform: uppercase;
        color: #ff0;
        // align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
       
    }
   
}
.bouldering__descr{
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    color: white;
  
}
.bouldering__img{
    width: 320px;
    height: 200px;
    border-radius: 30;
    margin: 15px;
    box-shadow: white;
}
.bouldering__box{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}
.bouldering__line{
    width: 200px;
}
