.hero__section{
    // position: absolute;
    // width: 100%;
    padding-top: 318px;
    padding-bottom: 318px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/hero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.hero__container{
    @extend %container;
  
}
.hero__title{
    color:yellow;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}