.rope__section{
    background-color: $background-color-section;
    min-height: 500px;
    // padding-top: 90px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/rope12.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding-top: 162px;
    }
    @media screen and (min-width: 1366px) {
        min-height: 878px;
        padding-top: 50px;
            // background-image:url(../images/bgimg.jpeg);
            // background-repeat: no-repeat;
            // background-size: cover;
    }
}
.rope__container{
    @extend %container;
    @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
       
        
    }
    @media screen and (min-width: 1366px) {

       
    }
}
.rope__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $primary-text-color;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rope__descr{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    // text-transform: uppercase;
    color: white;
}