.space__section{
    min-height: 500px;
    padding-top: 90px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/space2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding-top: 16px;
    }
    @media screen and (min-width: 1366px) {
        min-height: 878px;
        padding-top: 50px;
            // background-image:url(../images/bgimg.jpeg);
            // background-repeat: no-repeat;
            // background-size: cover;
    }
}

.space__container{
    @extend %container;
    // @media screen and (min-width: 768px) {
    //     position: relative;
     
       
        
    // }
    // @media screen and (min-width: 1366px) {
       
       
    // }
}
.spce__holes{
    display: flex;
    flex-wrap: wrap;
    margin-left: -63px;
    border-radius: 4px;
    @media screen and (min-width: 768px) {
       
    }
    @media screen and (min-width: 1366px) {
        margin-left: 25px;
       
    }
    
   
   
}
.spce__img{
    width: 350px;
    height: 270px;
    padding: 5px;
    margin-left: 25px;
    margin-top: 25px;
    // border: 1px solid wheat;
    border-radius: 22px;
   
}
.space__img-wraper{
    width: 400px;   
    
  
  
    
}
.spase__holes-list{
    margin: 10px;
    background-image: url(../images/Group\ 141.png);
    background-position-y: 213px;
    background-repeat: no-repeat;
    &:hover,
    &:focus {
        border-radius: 22px;
        box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
        color:whitesmoke;
    
    } 
    
   
  
}
.spase__places{
  
}
.spase__name{
   text-align: center;
   text-transform: uppercase;
//    &:hover,
//     &:focus {
//         color: white;
//     }

}
.spase__location{
   
    // &:hover,
    // &:focus {
    //     color: white;
    // } 
}
.space__location-wraper {
    text-align: center;
    padding-bottom: 20px;
   
   
   
}
.space__title{
    letter-spacing: .18em;
    text-transform: uppercase;
    color: #ff0;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
       
        display: flex;
        padding-top: 10px;
    padding-bottom: 10px;
        
    }
    @media screen and (min-width: 1366px) {
        letter-spacing: .18em;
        text-transform: uppercase;
        color: #ff0;
        // align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
       
    }
}






